*{margin:0;
    padding:0;
    }
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    
    .font{
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
      }

      .inter{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
      }
     .margin{
        margin:120px 35px;
     }









      /* header-section */ 
    
      .header{
        background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),
        
        url("images/Banner\ Image.png");
        background-position: 0% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        width:1170px;
        margin: 0 auto;
        margin-top: 35px;
        border-radius: 20px;
      }
      p.header_content_sub_title.font {
        color: #ffffffcf;
        font-size: 25px;
    }
    
    h1.header_content_title.font {
        color: white;
        font-weight: bolder;
        font-size: 60px;
    }
    
    .header_content {
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding: 150px 300px;
    }


    /* sell section */




    #sell .sell_container  h1 {
        color: #FF0000;
        font-size: 50px;
    }
    
    .sell_container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }
    
    section#sell {
        max-width: 770px;
        margin: auto;
        display: flex;
        margin-top: 120px;
        flex-direction: column;
        gap: 23px;
    }


    #sell .sell_container_desc h6 {
        color: #FF0000;
        font-size: 15px;
    }
    
    #sell .sell_container_desc h3 {
        font-size: 33px;
    }
img {
    width: 100%;
}

.sell_image {
    width: 550px;
    margin: 0 auto;
}

.sell_container_desc {
    line-height: 1.5;
}






/* party section */




#party{
    max-width: 1170px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 120px;
    /* margin-bottom: 120px; */
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("images/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    align-items: center;
}

.party_container{
    padding: 126px 0px 125px 105px;
    /* line-height: 1; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

#party .party_container h1{
    max-width: 450px;
    font-size: 50px;
    color: white;
}
#party .party_container p.party_desc{
    font-size: 16px;
    max-width: 700px;
    color:white;
    opacity: 0.7;
}
#party .party_container .join{
    font-size: 20px;
    padding-left: 40px;
    color:white;
  
}
.party_image{
    max-width: 250px;
    padding-top: 60px;
    padding-right: 102px;
    padding-bottom: 40px;
}



/* join section */






.chiku{
    color: rgb(255, 0, 0);
}
#join{
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    width: 1170px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 120px;;
}
.join_content {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 100px 350px;
}

button {
    border: none;
    color: white;
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(255, 0, 0);
    }

    .join_content .btn {
    margin-top: 28px;
}


/* offer-section */


section#offer {
    width: 1170px;
    margin: auto;
    margin-top: 120px;
    /* display: flex; */
}

.about_offer {
    width: 270px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: start; */
    gap: 10px;
    /* font-weight: bolder; */
}

.about_offer {}

.offer_image {
    border-radius: 50%;
    width: 205px;
    /* border: 15px solid red; */
    outline-offset: 20px;
    outline: 10px solid red;
    paddig: 7px;
    /* margin: 10px; */
    /* padding: 9px; */
}

#offer .offer_image img {
    /* padding: 8px; */
}
section#offer {
    width: 1170px;
    margin: auto;
    margin-top: 120px;
    /* display: flex; */
}

.about_offer {
    max-width: 270px;
}

.about_offer {}

.offer_image {
    border-radius: 50%;
    width: 205px;
    /* border: 15px solid red; */
    outline-offset: 20px;
    outline: 10px solid red;
    paddig: 7px;
    margin-right: 50px;
}

.offer_year {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}


.offer_year_image {
    width: 100px;
}
.offer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h5.about_offer_h5 {
    font-size: 15px;
    font-weight: bold;
}

h2.about_offer_h2 {
    font-size: 35px;
    font-weight: bolder;
}

p.about_offer_p {
    opacity: 0.6;
    font-size: 16px;
}

h3.offer_year_number {
    font-size: 29px;
}

p.offer_year_p {
    opacity: 0.6;
    font-size: 14px;
}
h5.function_container_h5.inter {
    font-size: 13px;
    font-weight: bold;
}

h1.function_container_h1.font {
    font-size: 50px;
    font-weight: bolder;
}

p.function_container_p.inter {
    font-size: 13px;
    opacity: 0.6;
    /* width: 440px; */
}

.function_container {
    text-align: center;
    max-width: 440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section#function {
    margin-top: 120px;
}
h5.function_container_h5.inter {
    font-size: 13px;
    font-weight: bold;
}

h1.function_container_h1.font {
    font-size: 50px;
    font-weight: bolder;
}

p.function_container_p.inter {
    font-size: 13px;
    opacity: 0.6;
    /* width: 440px; */
}

.function_container {
    text-align: center;
    max-width: 440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

section#function {
    margin-top: 120px;
}

.box_image {
    width: 309px;
}

img {
    /* width: 200px; */
}

.red_image {
    width: 1170px;
    margin: auto;
}

.discount_image {
    width: 200px;
}


/* portfolio_section */





section#portfolio {
    width: 1170px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h5.portfolio_content_h5 {
    font-weight: bold;
    font-size: 14px;
}

h1.portfolio_content_h1 {
    font-weight: bolder;
    font-size: 35px;
}

h1.portfolio_content_h1 {}

p.portfolio_content_p {
    width: 660px;
    font-size: 13px;
    opacity: 0.6;
}

.portfolio_content {    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bag_1, .bag_2, .bag_3 {
    width: 380px;
}
.juta_1, .juta_2, .juta_3{
    width: 380px;
}
.portfolio_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolio_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image_gellary {
    display: flex;
    /* width: 1170px; */
    /* margin: auto; */
    flex-direction: column;
    gap: 15px;
}
.image_gellary {
    display: flex;
    /* width: 1170px; */
    /* margin: auto; */
    flex-direction: column;
    gap: 15px;
}